
<header style="min-height: 50px;position: sticky;top: 0; z-index: 1000;">
  <div>
    <div style="float:left;width:50%"></div>
    <div class="topnav" style="float:right">
      <a href="{{site.url}}">Home</a>
      <a href="{{site.url}}lemmabase/">Lemmabase</a>
      <a href="{{site.url}}annotation/">Annotation Tool</a>
      <a href="{{site.url}}fonts/">Fonts</a>
      <a href="{{site.url}}workflow/">Workflow</a>
      <a href="{{site.url}}about/">About</a>
    </div>
  </div>
</header>