---
layout: default
title: Lemma Base Draft
---
<script src="{{site.url}}js/data/senses.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.buttonload {
  background-color: gray; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px /* Set a font size */
}
</style>
<body>
    <h1 style="text-align:center">Lemma Base Draft</h1>
<button id="loading" class="buttonload" style="text-align:center">
  <i class="fa fa-spinner fa-spin"></i>Loading Lemmabase...
</button>
    <table id="lemmabasedraft" style="visibility:hidden">
        <thead>
            <tr><th>Lemma</th><th>Word Type</th><th>Base</th><th>Classifier</th><th>Morphemes</th><th>Sense</th><th>Time Period</th><th>Loan Word</th><th>Reference</th></tr>
        </thead>
        <tbody id="lemmabasedraftbody">

        </tbody>
    </table>
</body>
<script>
const urlParams = new URLSearchParams(window.location.search);
var highlightword=urlParams.get("highlight");
tperiodmapping={
    "nE":"http://www.wikidata.org/entity/Q29297050",
    "mE":"http://www.wikidata.org/entity/Q29297151",
    "oE":"http://www.wikidata.org/entity/Q29297301",
    "achE":"http://www.wikidata.org/entity/Q114867307"
}
tperiodlabelmapping={
    "nE":"Neo-Elamite Period",
    "mE":"Middle Elamite Period",
    "oE":"Old Elamite Period",
    "achE":"Achaemenid Elamite Period"
}
tabbody=""
iseven=true
curlemma=""
var ishighlightword=false
var counter=0
$(function() {
for(sense in senses){
    if(iseven){
        if(sense==highlightword){
            ishighlightword=true
        }
        curlemma=sense+" / "
        iseven=!iseven
        continue
    }
    if(ishighlightword || sense==highlightword){
        highlightword=curlemma+sense
    }
    ishighlightword=false
    counter+=1
    iseven=!iseven
    tabbody+="<tr><td>"+curlemma+sense+"</td>"
    if("wordtype" in senses[sense]){
        tabbody+="<td><a href=\""+Object.keys(senses[sense]["wordtype"])[0]+"\" target=\"_blank\">"+senses[sense]["wordtype"][Object.keys(senses[sense]["wordtype"])[0]]+" ("+Object.keys(senses[sense]["wordtype"])[0].substring(Object.keys(senses[sense]["wordtype"])[0].lastIndexOf("/")+1)+")</a></td>"
    }else{
        tabbody+="<td>N/A</td>"
    }
    if("base" in senses[sense]){
        tabbody+="<td>"+senses[sense]["base"]+"</td>"
    }else{
        tabbody+="<td></td>"
    }
    if("classifier" in senses[sense]){
        tabbody+="<td>"+senses[sense]["classifier"]+"</td>"
    }else{
        tabbody+="<td></td>"
    }
    if("morpheme" in senses[sense]){
        tabbody+="<td>"+senses[sense]["morpheme"]+"</td>"
    }else{
        tabbody+="<td></td>"
    }
    if("sense" in senses[sense]){
        sensestring=""
        if("de" in senses[sense]["sense"]){
            for(var i=0;i<senses[sense]["sense"]["de"].length;i++){
                var qidurl=""
                if("qid" in senses[sense]["sense"] && i<senses[sense]["sense"]["qid"].length){
                    qidurl=Object.keys(senses[sense]["sense"]["qid"][i])[0]
                    sensestring+="<a href=\""+qidurl+"\" target=\"_blank\">"
                }
                if("en" in senses[sense]["sense"] && i<senses[sense]["sense"]["en"].length){
                    sensestring+=senses[sense]["sense"]["en"][i]+"@en / "
                }
                sensestring+=senses[sense]["sense"]["de"][i]+"@de "
                if("qid" in senses[sense]["sense"] && i<senses[sense]["sense"]["qid"].length){                    
                    sensestring+="["+senses[sense]["sense"]["qid"][i][qidurl]+" ("+qidurl.substring(qidurl.lastIndexOf("/")+1)+")]</a>"
                }
                sensestring+="<br/>"      
            }
        }       
        tabbody+="<td>"+sensestring+"</td>"
    }else{
        tabbody+="<td></td>"
    }
    if("period" in senses[sense]){
        if(senses[sense]["period"] in tperiodmapping){
            tabbody+="<td><a href=\""+tperiodmapping[senses[sense]["period"]]+"\" target=\"_blank\">"
            if(senses[sense]["period"] in tperiodlabelmapping){
                tabbody+=tperiodlabelmapping[senses[sense]["period"]]+" ("+tperiodmapping[senses[sense]["period"]].substring(tperiodmapping[senses[sense]["period"]].lastIndexOf("/")+1)+")"
            }else{
                tabbody+=senses[sense]["period"]
            }
            tabbody+="</a></td>"
        }else{
            tabbody+="<td>"
            if(senses[sense]["period"] in tperiodlabelmapping){
                tabbody+=tperiodlabelmapping[senses[sense]["period"]]
            }else{
                tabbody+=senses[sense]["period"]
            }    
            tabbody+="</td>"
        }      
    }else{
        tabbody+="<td></td>"
    }
    if("loan_word" in senses[sense]){
        tabbody+="<td>"
        for(lw of senses[sense]["loan_word"]){
            tabbody+="<a href=\""+lw["lid"]+"\" target=\"_blank\">"+lw["word"]+"@"+lw["language"].toLowerCase()+" ["+lw["lid_label"]+"]</a> <a href=\"https://situx.github.io/paleordia/l/?l="+lw["lid"].substring(lw["lid"].lastIndexOf("/")+1)+"&displaylang=en&qLabel="+lw["word"]+"\" target=\"_blank\">[to PaleOrdia]</a><br/>"
        }
        tabbody+="</td>"       
    }else{
        tabbody+="<td></td>"
    }
    if("reference" in senses[sense]){
        tabbody+="<td><a href=\"http://www.wikidata.org/entity/Q130646912\" target=\"_blank\">"+senses[sense]["reference"]["title"]
        if("volume" in senses[sense]["reference"] && senses[sense]["reference"]["volume"]!=""){
            tabbody+=" vol. "+senses[sense]["reference"]["volume"]
        }
        if("page" in senses[sense]["reference"] && senses[sense]["reference"]["page"]!=""){
            tabbody+=" p. "+senses[sense]["reference"]["page"]
        }  
        tabbody+="</a></td>"
    }else{
        tabbody+="<td></td>"
    }
    tabbody+="</tr>"
}
$('#lemmabasedraftbody').html(tabbody)
var table=$('#lemmabasedraft').DataTable({responsive:true,lengthMenu: [[10, 25, 100,250,500,1000, -1], [10, 25, 100,250,500,1000, "All"]],paging:true,pagingType: "input"})
$('#loading').hide()
$('#lemmabasedraft').css("visibility","visible")
if(highlightword!=null){
   res=table.page.jumpToData(highlightword,0)
   console.log(res)
   //table.fnPageChange(pageNo-1)//.draw('page');
}
});
</script>
</html>